.footer {
  min-height: 90px;
  background: lightslategray;
  position: relative;
  font-family: 'Carrois Gothic', sans-serif;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #33CCCC;
  text-align: center;
  height: 60px;
}
